body {
    text-align: center;
    background-color: black;

}
#canDiv{
	position: relative;
	margin:auto;
	width: 505px;
	height: 606px;
}
#fatherTime{
	position: absolute;
	top: 370px;
  left: 412px;
  font-size: 100px;
	color: black;
  font-family: 'Press Start 2P', courier;

}
#youWin, #youLose{
	position:absolute;
	width: 400px;
	height: 100px;
	top: 160px;
	left: 50px;
	font-size: 20px;
	color: red;
	font-family: 'Press Start 2P', courier;
}
