body {
    text-align: center;
    background-color: gray;
}
#canDiv{
	position: relative;
	margin:auto;
	width: 505px;
	height: 606px;
}
#fatherTime{
	position: absolute;
	/*top: 80px;
    right: 0;*/
	width: 50px;
	height: 50px;
	top: 550px;
	left: 400px;

}
#youWin{
	position:absolute;
	width: 400px;
	height: 100px;
	top: 160px;
	left: 50px;
	font-size: 20px;
	color: red;
	font-family: 'Press Start 2P', courier;
}
#youLose{
	position:absolute;
	width: 400px;
	height: 100px;
	top: 160px;
	left: 50px;
	font-size: 20px;
	color: red;
	font-family: 'Press Start 2P', courier;
}
